
@{
    ViewBag.Title = "Crear";
    bool isAdmin = Convert.ToBoolean(Request.Params["isAdmin"]);
    if (isAdmin)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_LayoutUsuario.cshtml";


    }
}

<h2 class="spaceSite" id="mensaje">Crear usuario</h2>

<div class="alert alert-success" role="alert" id="alertUsuario" style="display:none">
    Usuario guardado correctamente
</div>

<form class="spaceSite">
    <div class="row offset-md-2">
        <label for="PrimerNombre" class="col-sm-2 col-form-label textAlignelabel">Primer nombre</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="PrimerNombre">
        </div>

        <label for="celular" class="col-sm-2 col-form-label textAlignelabel">Celular</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="celular">
        </div>
    </div>
    <div class="row offset-md-2 paddingRowTop">
        <label for="SegundoNombre" class="col-sm-2 col-form-label textAlignelabel">Segundo Nombre</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="SegundoNombre">
        </div>

        <label for="direccion" class="col-sm-2 col-form-label textAlignelabel">Dirección</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="direccion">
        </div>
    </div>
    <div class="row offset-md-2 paddingRowTop">
        <label for="PrimerApellido" class="col-sm-2 col-form-label textAlignelabel">Primer Apellido</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="PrimerApellido">
        </div>

        <label for="TelFijo" class="col-sm-2 col-form-label textAlignelabel">Tel Fijo</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="TelFijo">
        </div>
    </div>

    <div class="row offset-md-2 paddingRowTop">
        <label for="SegundoApellido" class="col-sm-2 col-form-label textAlignelabel">Segundo Apellido</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="SegundoApellido">
        </div>

        <label for="email" class="col-sm-2 col-form-label textAlignelabel">Email</label>
        <div class="col-sm-4">
            <input disabled type="email" class="form-control" id="email">
        </div>
    </div>

    <div class="row offset-md-2 paddingRowTop">
        <label for="document" class="col-sm-2 col-form-label textAlignelabel">Documento</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="document">
        </div>

        <label for="tipoDeDocumento" class="col-sm-2 col-form-label textAlignelabel">Tipo de documento</label>
        <div class="col-sm-4">
            <select class="form-select" id="tipoDocumento">
                <option selected>Elija una opción</option>
                <option value="1">Cedula</option>
                <option value="2">Pasaporte</option>
            </select>
        </div>

    </div>

    <div class="row offset-md-2 paddingRowTop">

        <label for="Genero" class="col-sm-2 col-form-label textAlignelabel">Genero</label>
        <div class="col-sm-3">
            <select class="form-select" id="genero">
                <option selected>Elija una opción</option>
                <option value="1">Masculino</option>
                <option value="2">Femenino</option>
            </select>
        </div>

        <label for="fechaDeNacimiento" class="col-sm-2 col-form-label textAlignelabel">Fecha de Nacimiento</label>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="fechaDeNacimiento">
        </div>

    </div>

    <div class="row offset-md-2 paddingRowTop">
        <label for="usuario" class="col-sm-2 col-form-label textAlignelabel">Nombre de usuario</label>
        <div class="col-sm-3">
            <input disabled type="text" class="form-control" id="usuario">
        </div>

        <label for="contrasena" class="col-sm-2 col-form-label textAlignelabel">Contraseña</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="contrasena">
        </div>
    </div>

    <div class="row offset-md-2 paddingRowTop">
        <label for="confirmarcontrasena" class="col-sm-2 col-form-label textAlignelabel">Confirmación Contraseña</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="confirmarcontrasena">
        </div>

    </div>

    <div class="row offset-md-4  spaceSite">
        <div class="col-md-2">
            <button type="button" class="btn btn-success btn-lg" id="guardar" onclick="Guardar()">Guardar</button>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-danger btn-lg" onclick="Cancelar()">Cancelar</button>
        </div>

    </div>
</form>
<script>
    var url = new URL(window.location.href);
    var isEdit = url.searchParams.get("edit");
    var isAdmin = url.searchParams.get("isAdmin");

    if (isEdit === "true") {

        document.getElementById("mensaje").innerHTML = "Editar usuario";
        document.getElementById("PrimerNombre").value = "Pepito"
        document.getElementById("celular").value = "310642631";
        document.getElementById("SegundoNombre").value = "Olaya";
        document.getElementById("direccion").value = "Calla falsa 123";
        document.getElementById("PrimerApellido").value = "Perez";
        document.getElementById("TelFijo").value = "601578643";
        document.getElementById("SegundoApellido").value = "Farolito";
        document.getElementById("email").value = "pepito@gmail.com";
        document.getElementById("document").value = "54632356";
        document.getElementById("tipoDocumento").value = "1"
        document.getElementById("genero").value = "1"

        var date = new Date();
        var currentDate = date.toISOString().substring(0, 10);
        document.getElementById('fechaDeNacimiento').value = currentDate;


        document.getElementById("usuario").value = "pepitoPerez";
        document.getElementById("contrasena").value = "12345";
        document.getElementById("confirmarcontrasena").value = "12345";


        document.getElementById("guardar").innerHTML = "Actualizar";
    } else {
        var email = document.getElementById("email");
        var usuario = document.getElementById("usuario");
        email.disabled = false;
        usuario.disabled = false;
    }

    function Cancelar() {
        if (isAdmin === "true") {
            window.location.href = window.location.protocol + "//" + window.location.host + "/Usuarios/Listado";
        }
        else {
            window.location.href = window.location.protocol + "//" + window.location.host + "/Producto/Listado?isAdmin=false";
        }
    }

    function Guardar() {
        window.scrollTo(pageXOffset, 0);
        document.getElementById("alertUsuario").style.display = "flex";
        setTimeout(() => {
            document.getElementById("alertUsuario").style.display = "none";
        }, 2000);
    }
</script>

