
@{
    ViewBag.Title = "Crear";
    bool isAdmin = Convert.ToBoolean(Request.Params["isAdmin"]);
    if (isAdmin)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_LayoutUsuario.cshtml";


    }
}

<h2 class="spaceSite" id="mensaje">Crear usuario</h2>

<div class="alert alert-success" role="alert" id="alertUsuario" style="display:none">
    Usuario guardado correctamente
</div>

<form class="spaceSite">
    <div class="row offset-md-2">
        <label for="PrimerNombre" class="col-sm-2 col-form-label textAlignelabel">Primer nombre</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="PrimerNombre">
        </div>

        <label for="celular" class="col-sm-2 col-form-label textAlignelabel">Celular</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="celular">
        </div>
    </div>
    <div class="row offset-md-2 paddingRowTop">
        <label for="SegundoNombre" class="col-sm-2 col-form-label textAlignelabel">Segundo Nombre</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="SegundoNombre">
        </div>

        <label for="direccion" class="col-sm-2 col-form-label textAlignelabel">Dirección</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="direccion">
        </div>
    </div>
    <div class="row offset-md-2 paddingRowTop">
        <label for="PrimerApellido" class="col-sm-2 col-form-label textAlignelabel">Primer Apellido</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="PrimerApellido">
        </div>

        <label for="TelFijo" class="col-sm-2 col-form-label textAlignelabel">Tel Fijo</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="TelFijo">
        </div>
    </div>

    <div class="row offset-md-2 paddingRowTop">
        <label for="SegundoApellido" class="col-sm-2 col-form-label textAlignelabel">Segundo Apellido</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="SegundoApellido">
        </div>

        <label for="email" class="col-sm-2 col-form-label textAlignelabel">Email</label>
        <div class="col-sm-4">
            <input disabled type="email" class="form-control" id="email">
        </div>
    </div>

    <div class="row offset-md-2 paddingRowTop">
        <label for="document" class="col-sm-2 col-form-label textAlignelabel">Documento</label>
        <div class="col-sm-3">
            <input disabled type="text" class="form-control" id="document">
        </div>

        <label for="tipoDeDocumento" class="col-sm-2 col-form-label textAlignelabel">Tipo de documento</label>
        <div class="col-sm-4">
            <select class="form-select" id="tipoDocumento">
                <option selected>Elija una opción</option>
                <option value="1">Cedula</option>
                <option value="2">Pasaporte</option>
            </select>
        </div>

    </div>

    <div class="row offset-md-2 paddingRowTop">

        <label for="Genero" class="col-sm-2 col-form-label textAlignelabel">Genero</label>
        <div class="col-sm-3">
            <select class="form-select" id="genero">
                <option selected>Elija una opción</option>
                <option value="1">Masculino</option>
                <option value="2">Femenino</option>
            </select>
        </div>

        <label for="fechaDeNacimiento" class="col-sm-2 col-form-label textAlignelabel">Fecha de Nacimiento</label>
        <div class="col-sm-4">
            <input type="date" class="form-control" id="fechaDeNacimiento">
        </div>

    </div>

    <div class="row offset-md-2 paddingRowTop">
        <label for="usuario" class="col-sm-2 col-form-label textAlignelabel">Nombre de usuario</label>
        <div class="col-sm-3">
            <input disabled type="text" class="form-control" id="usuario">
        </div>

        <label for="contrasena" class="col-sm-2 col-form-label textAlignelabel">Contraseña</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="contrasena">
        </div>
    </div>

    <div class="row offset-md-2 paddingRowTop">
        <label for="confirmarcontrasena" class="col-sm-2 col-form-label textAlignelabel">Confirmación Contraseña</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="confirmarcontrasena">
        </div>

    </div>

    <div class="row offset-md-4  spaceSite">
        <div class="col-md-2">
            <button type="button" class="btn btn-success btn-lg" id="guardar" onclick="Guardar()">Guardar</button>
        </div>

        <div class="col-md-2">
            <button type="button" class="btn btn-danger btn-lg" onclick="VolverAnterior()">Cancelar</button>
        </div>

    </div>
</form>
<script>
    var url = new URL(window.location.href);
    var isEdit = url.searchParams.get("edit");
    var isAdmin = url.searchParams.get("isAdmin");
    var id = url.searchParams.get("id");

    if (isEdit === "true") {

        fetch('/api/ConsultarUsuario/'+id, {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
            },
        })
            .then(response => response.json())
            .then(usuario => {

                document.getElementById("mensaje").innerHTML = "Editar usuario";

                document.getElementById("PrimerNombre").value = usuario.PrimerNombre;
                document.getElementById("celular").value = usuario.celular;
                document.getElementById("SegundoNombre").value = usuario.SegundoNombre;
                document.getElementById("direccion").value = usuario.direccion;
                document.getElementById("PrimerApellido").value = usuario.PrimerApellido;
                document.getElementById("TelFijo").value = usuario.TelFijo;
                document.getElementById("SegundoApellido").value = usuario.SegundoApellido;
                document.getElementById("email").value = usuario.email;
                document.getElementById("document").value = usuario.document;
                document.getElementById("tipoDocumento").value = usuario.tipoDocumento
                document.getElementById("genero").value = usuario.genero

                var date = new Date(usuario.fechaDeNacimiento);
                var currentDate = date.toISOString().substring(0, 10);
                document.getElementById('fechaDeNacimiento').value = currentDate;


                document.getElementById("usuario").value = usuario.usuario;
                document.getElementById("contrasena").value = usuario.contrasena;
                document.getElementById("confirmarcontrasena").value = usuario.confirmarcontrasena;
              
            });        


        document.getElementById("guardar").innerHTML = "Actualizar";
    } else {
        document.getElementById("email").disabled = false;
        document.getElementById("usuario").disabled = false;
        document.getElementById("document").disabled = false;
    }

    function VolverAnterior() {
        if (isAdmin === "true") {
            window.location.href = window.location.protocol + "//" + window.location.host + "/Usuarios/Listado";
        }
        else {
            window.location.href = window.location.protocol + "//" + window.location.host + "/Producto/Listado?isAdmin=false";
        }
    }

    function Guardar() {
        var data = {
            id: id,
            PrimerNombre: document.getElementById("PrimerNombre").value,
            celular: document.getElementById("celular").value,
            SegundoNombre: document.getElementById("SegundoNombre").value,
            direccion: document.getElementById("direccion").value,
            PrimerApellido: document.getElementById("PrimerApellido").value,
            TelFijo: document.getElementById("TelFijo").value,
            SegundoApellido: document.getElementById("SegundoApellido").value,
            email: document.getElementById("email").value,
            document: document.getElementById("document").value,
            tipoDocumento: document.getElementById("tipoDocumento").value,
            usuario: document.getElementById("usuario").value,
            contrasena: document.getElementById("contrasena").value,
            confirmarcontrasena: document.getElementById("confirmarcontrasena").value,
            fechaDeNacimiento: document.getElementById('fechaDeNacimiento').value,
            genero: document.getElementById("genero").value
        };
        debugger
        if (isEdit === "true") {           

            fetch('/api/ActualizarUsuario', {
                method: 'PUT',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data),
            })
                .then(response => response.json())
                .then(respuesta => {
                    if (respuesta.exitoso) {
                        MostrarMensajeExitoso();
                        ConsultarUsuarios();
                    }
                });
        }
        else {

            fetch('/api/CrearUsuario', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data),
            })
                .then(response => response.json())
                .then(respuesta => {
                    if (respuesta.exitoso) {
                        MostrarMensajeExitoso();
                        ConsultarUsuarios();
                        VolverAnterior();
                    }
                });

        }

      
    }
</script>

